version: "3.3"

services:

  db:
    image: postgres:15
    container_name: microloan_db
    restart: always
    environment:
      POSTGRES_DB: microloan_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: microloan_web
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    depends_on:
      - db
    env_file:
      - .env

  nginx:
    build: ./nginx
    container_name: microloan_nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/staticfiles
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
